* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    text-align: center;
    padding: 1rem;

    h1 {
        font-size: 3rem;
        line-height: 3.5rem;
        background-color: rgb(1, 1, 54);
        padding: 1rem;
        color: white;
    }
}



.choices {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    margin-top: 3rem;
    flex-wrap: wrap; 
}

.choice {
    width: 150px;
    height: 150px;
    background-color: rgba(64, 255, 64, 0.548);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all 0.15s ease-in-out;
    box-shadow: 5px 5px 20px rgba(122, 252, 90, 0.671), -5px -5px 20px rgba(122, 252, 90, 0.671);


    img {
        width: 80px;
        height: 80px;
    }
}

.choice:hover {
    box-shadow: 6px 6px 20px rgb(106, 248, 70), -6px -6px 20px rgb(106, 248, 70);
    background-color: rgb(64, 255, 64);
}



.record {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    gap: 3rem;
}

.score {
    font-size: 3rem;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.name {
    font-size: 1.8rem;
}

.msg-container {
    margin-top: 3rem;
}

#msg {
    background-color: rgb(1, 1, 54);
    padding: 1rem;
    display: inline;
    border-radius: 10px;
    font-size: 1.5rem;
    color: white;
}

/* ========== MEDIA QUERIES FOR RESPONSIVENESS ========== */

/* For Tablets and Small Screens */
@media (max-width: 1024px) {
    .container h1 {
        font-size: 2.5rem;
    }

    .choices {
        gap: 3rem;
    }

    .choice {
        width: 130px;
        height: 130px;
        img {
            width: 70px;
            height: 70px;
        }
    }

    

    .score {
        font-size: 2.5rem;
    }

    .name {
        font-size: 1.5rem;
    }

    #msg {
        font-size: 1.3rem;
    }
}

/* For Mobile Devices */
@media (max-width: 768px) {
    .container h1 {
        font-size: 2rem;
        padding: 1rem;
    }

    .choices {
        
        gap: 2rem;
    }

    .choice {
        width: 100px;
        height: 100px;

        img {
            width: 60px;
            height: 60px;
        }
    }

    

    .record {
        
        gap: 2rem;
    }

    .score {
        font-size: 2rem;
    }

    .name {
        font-size: 1.3rem;
    }

    #msg {
        font-size: 1.2rem;
        padding: 0.8rem;
    }
}

/* For  Small Screen*/
@media (max-width: 480px) {
    .container h1 {
        font-size: 1.2rem;
        padding: 0.2rem;
    }

    .choice {
        width: 70px;
        height: 70px;

        img {
            width: 30px;
            height: 30px;
        }
    }

    

    .score {
        font-size: 1.8rem;
    }

    .name {
        font-size: 1.2rem;
    }

    #msg {
        font-size: 1rem;
        padding: 0.6rem;
    }
}

